.h1{
    color:white;
    background-color: black;
    text-align: center;
    font-size: 25px;
    position: static;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.p {
    font-size: 20px;
    position: static;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.h3{
    color:white;
    background-color: black;
    text-align: center;
    font-size: 22px;
    position: static;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}